@media screen and (min-width: 728px) {
    /*header的設定*/
    header {
        width: 100%;
        display: flex;
        justify-content: space-between;

        top: 0;
        left: 0;
        position: fixed;
        z-index: 1000; /* 确保菜单在其他内容之上 */
    }
    /*header變化後的設定*/
    header:hover{
        background-color: black;
    }

    /*header變化後的circle設定*/
    header:hover .circle1{
        background-color: white;
    }
    header:hover .circle2{
        background-color: white;
    }
    /*header變化後的circle位置設定*/
    .logo{
        margin: 25px;
        margin-left: 25px;
        
        display: flex;
        justify-content: center; /* 水平居中对齐 */
    }
    /*header的circle設定*/
    .logo .circle1,.circle2{
        width: 30px;
        height: 30px;
        border-radius: 15px;
        background-color: black;

        margin-left: 15px;
    }

    /*收放手機板的header用*/
    header button.nav-button{
        display: none;
    }

    /*header的按鈕群組設定*/
    header ul {
        width: 100%;
        margin: 0; padding: 0;
        margin-right: 20px;
        list-style: none;
        display: flex;
    }

    /*header的文字樣式*/
    header ul a {
        /*header的文字樣式*/
        font-size: 14px;
        color: black;
        font-weight: 400;
        font-family: var(--secondary-font);
        text-align: center;
        text-decoration: none;
        line-height: 90px;

        /*header按鈕的位置設定*/
        width: 100px; height: 80px;
        /*按鈕的位置設定*/
        border-left: 4px solid var(--white-color);


        /*製作底線用的相對位置*/
        position: relative;
        display: inline-block;
    }

    /*header的中文文字樣式*/
    header ul a.portfolio {
        font-size: 13px;
        font-weight: 400;
    }
    /*header的中文文字樣式*/
    header ul a.how {
        font-size: 13px;
        font-weight: 400;
    }

    /*header變化後的文字樣式*/
    header:hover a{
        color: white;
        
    }
    /*header變化後的文字底線效果*/
    header ul a:hover::after {
        transition: scale 1s;/*轉場效果*/
        content: "";
        position: absolute;
        left: 50%; /* 将伪元素左侧位置设置为50% */
        transform: translateX(-50%); /* 使用transform属性将伪元素水平居中 */
        bottom: 20px; /* 调整装饰线的位置 */
        width: 70%; /* 调整装饰线的长度 */
        height: 0.5px; /* 调整装饰线的厚度 */
        background-color: rgba(255, 255, 255, 0.5); /* 调整装饰线的颜色 */
    }

    /*main開場白 開始*/
    main{
        margin-top: 250px;
        margin-left: 100px;
    }

    main h1{
        font-family: 'Inika', serif;
        font-weight: 400;
        font-size: 32px;
        letter-spacing: 9px;
    }
    main h2{
        font-family: 'Inika', serif;
        font-weight: 400;
        font-size: 15px;
        letter-spacing: 5px;

        margin-top: 80px;
        margin-left: 60px;
    }
    main p{
        font-family: 'Inika', serif;
        font-weight: 500;
        font-size: 12px;
        letter-spacing: 4px;

        margin-top: 20px;
        margin-left: 60px;
    }
    /*main開場白 結束*/

    /*作品呈現 開始*/
    aside {
        height: 500px;
        width: 82%;
        display: flex;
        gap: 40px;
        margin-top: 200px;
        margin-left: auto;
    }
    .cardone {
        height: 500px;
    }
    .cardone img {
        height: 500px;
    }


    section {
        width: 500px;
        display: flex;
        flex-direction: column; /* 让子元素垂直排列 */
        gap: 40px;
        margin-top: 50px;
        margin-left: 90px;
    }

    .cardtwo img {
        width: 500px;
    }


    .three {
        height: 500px;
        display: flex;
        flex-direction: row;
        gap: 40px;
        margin-top: 60px;
        margin-left: -30%;
    }
    .cardthree img {
        height: 500px;
    }
    /*作品呈現 結束*/

    /*連結 開始*/
    .link{
        width: 1100px;/*與文字長度設定相同，才可固定*/
        margin-top: -1000px;
        margin-left: -580px;
        display: flex;
        flex-direction: column; /* 让子元素垂直排列 */
        
        
        gap: 20px;
        transform: rotate(90deg); /* 旋转90度 */
        position: absolute;
        
    }
    .link a{
        text-decoration: none; /* 去除下划线 */
        color: inherit; /* 继承父元素的颜色 */
        text-align: center;/*文字與外框置中*/

        flex: 1;
        width: 800px;/*調整長度*/

        font-size: 20px;
        letter-spacing: 4px;/*字體間距*/
        line-height: 35px;/*行高，可以調整外框高度*/
        font-family: var(--main-font);
        font-weight: var(--main-font-weight);
        
        
        border-radius: 33px;
        border: 1px solid #000;
    }
    .link a:nth-child(2) {
        margin-left: 150px;
    }
    .link a:nth-child(3) {
        margin-left: 300px;
    }
    /*連結 結束*/
    

    /*自我介紹 開始*/
    .introduction{
        width: 35%;
        margin-top: 250px;
        margin-left: 55%;

        font-size: 12px;
        font-family: var(--main-font);
        font-weight: var(--main-font-weight);
        letter-spacing: 2px;
    }
    .introduction p{
        margin-bottom: 50px;
    }
    .learn-more{
        width: 125px;
        height: 40px;
        
        text-decoration: none; /* 无下划线 */
        cursor: pointer; /* 鼠标指针样式 */

        background-color: white; 
        color: black;
        border: 1px solid #000;
        padding: 10px; /* 根据需要调整内边距 */
        padding-left: 20px;/* 根据需要调整内边距 */
        padding-right: 20px;/* 根据需要调整内边距 */
        border-radius: 20px;

        font-size: 12px;
        font-family: var(--main-font);
        font-weight: var(--main-font-weight);
        letter-spacing: 2px;
        line-height: 20px;
        
    }
    .learn-more:hover {/* 悬停时背景色变色 */
        color: white;
        background-color: black;
    }
    /*自我介紹 結束*/


    .footericon{
        height: 45px;
    
        margin-left: 62%;
    }
    .footerimg{
        width: 350px;
        z-index: -1;
        margin-top: -175px;
        margin-bottom: -175px;
    }
    footer {
        width: 100%;
        height: 320px;
        clear: both;

        color: white;
        background-color: black;
    }
    footer p {
        width: 70%;
        margin-top: 0;
        margin-left: 15%;
        margin-right: 15%;
        
        font-size: 10px;
        line-height: 140%;
        letter-spacing: 2px; /* 調整文字間距 */
    }
    footer p.connection {
        width: 70%;
        padding-top: 70px;
        
        font-size: 13px;
        line-height: 160%;
    }
    footer p.Copyright {
        margin-top: 50px;
    }
}